@charset "utf-8";

@media (min-width: 760px)  { /* Your Styles... */ 

	.content .baguetteBoxOne.gallery.film {
    padding-bottom: 0em;



}
	.kiki-gallery.camera.obscura {
		margin-top: 70px;
		margin-right: auto;
		text-align: center;
		max-height: 1700px;
	}

	.asideLeft.about.popravi {
    margin-left: 490px;
    margin-top: -500px;
	}

	.asideLeft.about {
		margin-left: 0px;
		margin-top: 0;
	}

	.sectionRight.about {
		margin-top: -230px;
		width: 99%;
		margin-bottom: 68px;
		margin-left: 0px;
		margin-right: 3.7px;
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.asideLeft {
		margin-top: 50px;
		width: 26%;
		font-size: x-small;
	}

	.sectionRight {
		width: 34%;
		float: right;
		margin-right: 2%;
		margin-top: 27px;
		margin-left: 0%;
		padding-left: 2.5%;
		padding-right: 2.5%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		background-image: -webkit-linear-gradient(270deg, rgba(253, 252, 252, 1.00) 16.39%, rgba(255, 255, 255, 0.25) 100%);
		background-image: -moz-linear-gradient(270deg, rgba(253, 252, 252, 1.00) 16.39%, rgba(255, 255, 255, 0.25) 100%);
		background-image: -o-linear-gradient(270deg, rgba(253, 252, 252, 1.00) 16.39%, rgba(255, 255, 255, 0.25) 100%);
		background-image: linear-gradient(180deg, rgba(253, 252, 252, 1.00) 16.39%, rgba(255, 255, 255, 0.25) 100%);
		border-top-right-radius: 25px;
		margin-bottom: 75px;
		text-align: justify;
	}

	.bg-text.calendar {
		margin-top: 42px;
		width: 32%;
		font-size: medium;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.kiki-gallery.reallity .lightbox .Reallity {
		margin-top: 0px;
		margin-left: 126px;
		max-width: 470px;
		max-height: 312px;
	}

	.post .asideLeft.twitter {
		margin-top: 27px;
		margin-bottom: 25px;
		padding-bottom: 0px;
		padding-top: 0px;
		width: 100%;
		margin-left: 0px;
	}

	.post .sectionRight.contact {
		margin-top: 330px;
		width: 100%;
		margin-bottom: 0px;
		margin-right: 0px;
	}

	.asideLeft.thankyou {
		margin-top: 177px;
		margin-left: 0px;
		width: 100%;
		margin-bottom: 25px;
	}

	.sectionRight.thankyou {
		margin-top: -669px;
		width: 59%;
		margin-right: 156px;
		max-height: 75px;
		padding-top: 0px;
	}

}

}